<?xml version="1.0" encoding="UTF-8"?>
<deployment>
	<applications>
		<application user="client1" password="client1"/>
	</applications>

	<services>
		<service name="hello" interface="com.hetty.server.Hello" overload="true">
           <provider version="1" class="com.hetty.server.HelloImpl"/> 
		   <provider version="2" class="com.hetty.server.Hello2Impl" default="true"/>
		</service>
	</services>
	<security-settings>
		<security-setting user="client1" service="hello" version="1" />
	</security-settings>
</deployment>